.default {
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#333333;
    text-align:center;
    line-height:normal;
    text-transform:none;
}
body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-0px;
    width:1092px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

#base {
    position:absolute;
    z-index:0;
}
#u0_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1079px;
    height:146px;
    background:inherit;
    background-color:rgba(0, 0, 0, 0.03529411764705882);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;

    box-shadow:none;
}
#u0 {
    border-width:0px;
    position:absolute;
    left:13px;
    top:27px;
    width:1079px;
    height:146px;
    display:flex;
}
#u0 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u0_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u1_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:169px;
    height:19px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:16px;
    color:#006591;
}
#u1 {
    border-width:0px;
    position:absolute;
    left:229px;
    top:80px;
    width:169px;
    height:19px;
    display:flex;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:16px;
    color:#006591;
}
#u1 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u1_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:19px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:16px;
    color:#006591;
}
#u2 {
    border-width:0px;
    position:absolute;
    left:417px;
    top:80px;
    width:176px;
    height:19px;
    display:flex;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:16px;
    color:#006591;
}
#u2 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u2_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u3_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:124px;
    height:18px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
    color:#006591;
}
#u3 {
    border-width:0px;
    position:absolute;
    left:619px;
    top:80px;
    width:124px;
    height:18px;
    display:flex;
    font-size:16px;
    color:#006591;
}
#u3 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u3_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u4_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:18px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
    color:#006591;
}
#u4 {
    border-width:0px;
    position:absolute;
    left:773px;
    top:80px;
    width:112px;
    height:18px;
    display:flex;
    font-size:16px;
    color:#006591;
}
#u4 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u4_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u5_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:18px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
    color:#006591;
}
#u5 {
    border-width:0px;
    position:absolute;
    left:906px;
    top:80px;
    width:173px;
    height:18px;
    display:flex;
    font-size:16px;
    color:#006591;
}
#u5 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u5_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u6_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:243px;
    height:176px;
}
#u6 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:12px;
    width:243px;
    height:176px;
    display:flex;
}
#u6 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u6_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u7_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1079px;
    height:353px;
}
#u7 {
    border-width:0px;
    position:absolute;
    left:13px;
    top:188px;
    width:1079px;
    height:353px;
    display:flex;
}
#u7 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u7_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u8_input {
    position:absolute;
    left:0px;
    top:0px;
    width:894px;
    height:120px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:36px;
    letter-spacing:normal;
    color:#FFFFFF;
    //vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u8_input.hint {
    position:absolute;
    left:0px;
    top:0px;
    width:894px;
    height:120px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:36px;
    letter-spacing:normal;
    color:#999999;
    //vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u8_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:894px;
    height:120px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:36px;
    letter-spacing:normal;
    color:#FFFFFF;
    //vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}

#u8_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:894px;
    height:120px;
}
#u8 {
    border-width:0px;
    position:absolute;
    left:153px;
    top:290px;
    width:894px;
    height:120px;
    display:flex;
    font-size:36px;
    color:#FFFFFF;
}
#u8 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u8_img.hint {
}
#u8.hint {
}
#u8_img.disabled {
}
#u8.disabled {
}
#u8_img.hint.disabled {
}
#u8.hint.disabled {
}
#u9_input {
    position:absolute;
    left:0px;
    top:0px;
    width:510px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:18px;
    letter-spacing:normal;
    color:#FFFFFF;
    //vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u9_input.hint {
    position:absolute;
    left:0px;
    top:0px;
    width:510px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:18px;
    letter-spacing:normal;
    color:#999999;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u9_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:510px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:18px;
    letter-spacing:normal;
    color:#FFFFFF;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}

#u9_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:510px;
    height:25px;
}
#u9 {
    border-width:0px;
    position:absolute;
    left:298px;
    top:410px;
    width:510px;
    height:25px;
    display:flex;
    font-family:"Montserrat", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:18px;
    color:#FFFFFF;
}
#u9 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u9_img.hint {
}
#u9.hint {
}
#u9_img.disabled {
}
#u9.disabled {
}
#u9_img.hint.disabled {
}
#u9.hint.disabled {
}
#u10_input {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:28px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#000000;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u10_input.hint {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:28px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#999999;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u10_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:28px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#000000;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u10_input.hint.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:28px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#999999;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u10_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:28px;
}
#u10 {
    border-width:0px;
    position:absolute;
    left:13px;
    top:569px;
    width:211px;
    height:28px;
    display:flex;
    font-size:20px;
}
#u10 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u10_img.hint {
}
#u10.hint {
}
#u10_img.disabled {
}
#u10.disabled {
}
#u10_img.hint.disabled {
}
#u10.hint.disabled {
}
#u11_input {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:28px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#000000;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u11_input.hint {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:28px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#999999;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u11_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:28px;
    padding:2px 2px 2px 2px;
    font-family:"Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#000000;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}

#u11_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:28px;
}
#u11 {
    border-width:0px;
    position:absolute;
    left:350px;
    top:569px;
    width:232px;
    height:28px;
    display:flex;
    font-size:20px;
}
#u11 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}


#u12_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:60px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u12 {
    border-width:0px;
    position:absolute;
    left:19px;
    top:604px;
    width:300px;
    height:60px;
    display:flex;
}
#u12 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u12_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u13_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:347px;
    height:75px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u13 {
    border-width:0px;
    position:absolute;
    left:350px;
    top:604px;
    width:347px;
    height:75px;
    display:flex;
}
#u13 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u13_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u14_input {
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:70px;
    padding:2px 2px 2px 2px;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    letter-spacing:normal;
    color:#006591;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u14_input.hint {
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:70px;
    padding:2px 2px 2px 2px;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    letter-spacing:normal;
    color:#999999;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u14_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:70px;
    padding:2px 2px 2px 2px;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    letter-spacing:normal;
    color:#006591;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u14_input.hint.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:70px;
    padding:2px 2px 2px 2px;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    letter-spacing:normal;
    color:#999999;

    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
}
#u14_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:70px;
    background:inherit;
    background-color:rgba(202, 249, 130, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    color:#006591;
}
#u14 {
    border-width:0px;
    position:absolute;
    left:729px;
    top:569px;
    width:350px;
    height:70px;
    display:flex;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    color:#006591;
}
#u14 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u14_div.hint {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:70px;
    background:inherit;
    background-color:rgba(202, 249, 130, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    color:#006591;
}
#u14.hint {
}
#u14_div.disabled {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:70px;
    background:inherit;
    background-color:rgba(240, 240, 240, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Harlow Solid SemiExpanded Italic", "Harlow Solid", sans-serif;
    font-weight:400;
    font-style:italic;
    font-size:36px;
    color:#006591;
}

#u15_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1079px;
    height:758px;
}
#u15 {
    border-width:0px;
    position:absolute;
    left:13px;
    top:-55px;
    width:1079px;
    height:758px;
    display:flex;
}
#u15 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u15_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u16 {
    border-width:0px;
    position:absolute;
    left:13px;
    top:-55px;
    width:1079px;
    height:758px;
    display:flex;
}
#u16 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u16_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
